<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Centi</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="listNotifications($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="circles" refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <button [ngClass]="notification.Read === 'false' || notification.Read === false ? 'item-list-new':''" ion-item (click)="openPageContentNotification(notification)" *ngFor="let notification of notifications">
            <ion-avatar item-left>
                <div class="avatar">
                    <ion-icon *ngIf="notification.Type === 1" class="icon" md="md-help-circle" item-left></ion-icon>
                    <ion-icon *ngIf="notification.Type === 0" class="icon" md="md-information-circle" item-left></ion-icon>
                </div>
            </ion-avatar>
            <h2>{{notification.Title}}</h2>
            <p>{{notification.Message}}</p>
        </button>
    </ion-list>

</ion-content>