<ion-content padding>
    <div class="content-info">
        <p>Insira seu usuário para que possamos lhe enviar sua nova senha.</p>
    </div>
    <form [formGroup]="form" novalidate>
        <ion-item>
            <ion-label stacked>Usuário</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-grid>
            <ion-row class="content-padding">
                <button ion-button full class="btn-rounded" (click)="submit()">Enviar</button>
            </ion-row>
        </ion-grid>
    </form>
    <ion-grid>
        <ion-row class="content-center">
            <button ion-button clear (click)="dismiss()">Login </button>
        </ion-row>
    </ion-grid>
</ion-content>