<ion-content padding>
    <div class="content-info">
        <p>Insira seu usuário para que possamos lhe enviar sua nova senha.</p>
    </div>
    <form [formGroup]="form" novalidate>
        <ion-item>
            <ion-label stacked>Usuário</ion-label>
            <ion-input type="text" formControlName="user" [(ngModel)]="usuario.User"></ion-input>
        </ion-item>
        <ion-item *ngIf="!form.controls.user.valid  && (form.controls.user.dirty || submitAttempt)">
            <p style="color: red">Por favor preencha seu usuário</p>
        </ion-item>

        <ion-grid>
            <ion-row class="content-padding">
                <button ion-button full class="btn-rounded" (click)="submit()">Enviar</button>
            </ion-row>
        </ion-grid>
    </form>
    <ion-grid>
        <ion-row class="content-center">
            <button ion-button clear (click)="dismiss()">Login </button>
        </ion-row>
    </ion-grid>
</ion-content>